.footer{
    width: 100%;
    min-height: 70vh;
    background-color: $white;
    display: grid;
    place-items: center;

    .footerwrapper{
        width: 90%;

        .footerheading{
            height: 25vh;
            // background-color: pink;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footerheadingtexts{

            }
        }

        .footercontents{
            height: 45vh;
            display: flex;
            justify-content: space-between;
        }
    }
}