.header *{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: $font-satoshi;
}

.header{
    background-color: $white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 20px 0;
    // border-bottom: 1px solid $border-color;

    .headerWrapper{
        width: 90%;
        display: flex;
        justify-content: space-between;

        .nav{
            width: min(700px,75%);
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul{
                display: flex;
                align-items: center;
                gap: 30px;

                li a{
                    color: $black;
                    font-weight: $font-weigth-400;
                    font-size: $font-size-18;
                }
            }
        }

        .bx-menu, .bx-x{
            display: none;
        }
    }
}


@media (max-width: 900px) {
    .header{
    
        .headerWrapper{
            width: 90%;
            display: flex;
            justify-content: space-between;
    
            .nav{
                height: 100vh;
                width: 250px;
                background-color: white;
                box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.296);
                top: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                position: fixed;
                justify-content: center;
                gap: 50px;
                transform: translateX(-100000px);
                transition: 0.5s ease-in;

                ul{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    flex-direction: column;
    
                    li a{
                        color: $black;
                        font-weight: $font-weigth-400;
                        font-size: $font-size-18;
                    }
                }
            }

            .openNav{
                transform: translateX(0);
            }
    
            .bx-menu, .bx-x{
                display: block;
                font-size: $font-size-20 + 3;
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}

