$main-color: #FC653C;
$border-color: #7a7a7a37;
$white: white;
$black: black;
$light-black: #333333;

// Font-sizes
$font-size-18: 18px;
$font-size-20: 20px;

// Font Weight
$font-weigth-400: 400;
$font-weigth-700: 800;

// Font Families
$font-cabinet-grotesk : 'Cabinet Grotesk', sans-serif;
$font-satoshi: 'Satoshi', sans-serif;
$font-inter: 'Inter', sans-serif;

// Margins and Paddings
$margin-top-10: 10px;
$margin-top-20: 20px;
$margin-buttom-10: 10px;
$margin-buttom-20: 20px;