.header * {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
}

.header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
}
.header .headerWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.header .headerWrapper .nav {
  width: min(700px, 75%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headerWrapper .nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .headerWrapper .nav ul li a {
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.header .headerWrapper .bx-menu, .header .headerWrapper .bx-x {
  display: none;
}

@media (max-width: 900px) {
  .header .headerWrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .header .headerWrapper .nav {
    height: 100vh;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.296);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    gap: 50px;
    transform: translateX(-100000px);
    transition: 0.5s ease-in;
  }
  .header .headerWrapper .nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
  .header .headerWrapper .nav ul li a {
    color: black;
    font-weight: 400;
    font-size: 18px;
  }
  .header .headerWrapper .openNav {
    transform: translateX(0);
  }
  .header .headerWrapper .bx-menu, .header .headerWrapper .bx-x {
    display: block;
    font-size: 23px;
    z-index: 1;
    cursor: pointer;
  }
}
.button-outline, .landing-page .landing-contents .landing-img-container, .landing-page .landing-contents, .landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  min-height: 100vh;
  width: 100%;
}
.landing-page .landing-contents {
  width: 90%;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
.landing-page .landing-contents .landing-text {
  width: min(531px, 50%);
}
.landing-page .landing-contents .landing-text h1 {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 76.8px;
  color: #333333;
  margin-bottom: 16px;
}
.landing-page .landing-contents .landing-text h1 span {
  color: #FC653C;
}
.landing-page .landing-contents .landing-text .landing-paragraph {
  font-weight: 400;
  line-height: 30px;
  color: #333333;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin-bottom: 35px;
}
.landing-page .landing-contents .landing-text .buttons {
  display: flex;
  gap: 20px;
}
.landing-page .landing-contents .landing-text .buttons button .playOutline {
  width: 25px;
}
.landing-page .landing-contents .landing-img-container {
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  width: 612px;
  height: 70vh;
  margin-top: 100px;
}
.landing-page .landing-contents .landing-img-container .landing-img {
  width: min(555px, 90%);
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 870px) and (max-width: 1030px) {
  .landing-page .landing-contents .landing-text h1 {
    font-size: 50px;
    line-height: 56.8px;
    margin-bottom: 10px;
  }
  .landing-page .landing-contents .landing-text .landing-paragraph {
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .landing-page .landing-contents .landing-text .buttons .button {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
  }
  .landing-page .landing-contents .landing-img-container {
    height: 60vh;
  }
  .landing-page .landing-contents .landing-img-container .landing-img {
    width: min(555px, 90%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .landing-page .landing-contents .landing-img-container .landing-shape {
    z-index: -2;
  }
}
@media (max-width: 870px) {
  .landing-page .landing-contents .landing-text {
    width: 100%;
  }
  .landing-page .landing-contents .landing-img-container {
    display: none;
  }
}
@media (max-width: 450px) {
  .landing-page .landing-contents .landing-text h1 {
    font-size: 50px;
    line-height: 56.8px;
    margin-bottom: 10px;
  }
  .landing-page .landing-contents .landing-text .landing-paragraph {
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .landing-page .landing-contents .landing-text .buttons .button {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .landing-page .landing-contents .landing-text h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
  }
  .landing-page .landing-contents .landing-text .landing-paragraph {
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 35px;
  }
  .landing-page .landing-contents .landing-text .buttons {
    flex-direction: column;
  }
  .landing-page .landing-contents .landing-text .buttons .button {
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 15px;
  }
}
.button {
  background-color: #FC653C;
  border: none;
  color: white;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Satoshi", sans-serif;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #FC653C;
  color: #FC653C;
  font-family: "Satoshi", sans-serif;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */